[submodule "awesome/awesome-wm-widgets"]
	path = awesome/awesome-wm-widgets
	url = https://github.com/scattagain/awesome-wm-widgets
[submodule "awesome/rubato"]
	path = awesome/rubato
	url = https://github.com/andOrlando/rubato
