[submodule "awesome/awesome-wm-widgets"]
	path = awesome/awesome-wm-widgets
	url = https://github.com/streetturtle/awesome-wm-widgets
[submodule "awesome/rubato"]
	path = awesome/rubato
	url = https://github.com/andOrlando/rubato
[submodule "awesome/layout-machi"]
	path = awesome/layout-machi
	url = https://github.com/xinhaoyuan/layout-machi
